name: MkDocs page

on:
  push:
    branches: [ main ]
    paths:
      - "docs/**"
      - mkdocs.yml
      - .github/workflows/docs.yml
  pull_request:
    paths:
      - "docs/**"
      - mkdocs.yml
      - .github/workflows/docs.yml

jobs:
  mkdocs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install -r docs/requirements.txt

      - name: MkDocs build
        if: github.event_name == 'pull_request'
        run: mkdocs build

      - name: MkDocs deploy
        if: github.event_name != 'pull_request'
        run: |
          # Hard-code user configuration
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions"
          mkdocs gh-deploy --force
  markdownlint:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v3
      - uses: nosborn/github-action-markdown-cli@v3.2.0
        with:
          files: docs/*.md
          config_file: .markdownlint.json
