name: Documentation refresh

on:
  push:
    tags:
      - v*

jobs:
  docs:
    name: Renew documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: Pull new module version
        # Based on andrewslotin/go-proxy-pull-action
        # https://github.com/andrewslotin/go-proxy-pull-action/issues/5
        run: |
          TAG=${GITHUB_REF#refs/tags/*}
          VERSION=${TAG##*/}

          PACKAGE=github.com/${GITHUB_REPOSITORY}
          if [[ "$VERSION" != "$TAG" ]]; then
            PACKAGE=github.com/${GITHUB_REPOSITORY}/${TAG%"/$VERSION"}
          fi

          # https://pkg.go.dev/about#adding-a-package
          export GO111MODULE=on
          export GOPROXY="https://proxy.golang.org"

          go get -d "$PACKAGE@$VERSION"
