name: Go tests

on:
  push:
    branches: [ main ]
    paths:
      - "**.go"
      - go.mod
      - go.sum
      - .github/workflows/go.yml
  pull_request:
    paths:
      - "**.go"
      - go.mod
      - go.sum
      - .github/workflows/go.yml

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.18.x]
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Tests
    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/cache@v3.2.4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install dependencies
        run: go mod download

      - name: Run Unit tests
        run: go test ./...

      - name: Build
        run: go build -v .

  Build:
    name: Build
    strategy:
      matrix:
        go-version: [1.18.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '2'

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/cache@v3.2.4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install dependencies
        run: |
          go mod download

      - name: Run Unit tests
        run: |
          go test -race -covermode=atomic -coverprofile=coverage.txt ./...

      - name: Send to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: bash <(curl -s https://codecov.io/bash)

  lint:
    strategy:
      matrix:
        go-version: [1.18.x]
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - uses: golangci/golangci-lint-action@v3.2.0
        with:
          # https://github.com/golangci/golangci-lint-action/issues/535
          version: v1.47.3
